#availableUsersListView{
    -fx-background-color: #393939;
    -fx-control-inner-background: #393939;
    -fx-text-fill: white;
}


#userChatListView{
    -fx-background-color: #45474A;
    -fx-control-inner-background: #45474A;
    -fx-text-fill: white;
}

.jfx-text-area{
    -fx-text-inner-color: white;
    -fx-background-color: #393939;
    -fx-text-alignment: center;
    -fx-background-radius: 50;
    -fx-prompt-text-fill: #919191;
}

.button{
    -fx-background-color: #ff7400;/*0092df*/
    -fx-text-fill: white;
    -fx-background-radius: 50;
    -fx-padding: 0;
}

/*
.button:hover{
    -fx-background-color: #ed7b05;
}

.button:pressed{
    -fx-background-color: #de7005;
}
*/